@charset "utf-8";


/************************************************
*		LAYOUT									*
************************************************/

.wrap{width:100%;min-height:100%;margin:0 auto;position:relative;}
#header{width:100%;background:#fff;position:fixed;left:0;top:0;right:0;z-index:50;}
.hcontainer{width:100%;max-width:1280px;margin:0 auto;padding:250px 0 150px;position:relative;}
.ncontainer{width:100%;max-width:1280px;margin:0 auto;padding:80px 0 0;position:relative;}
.scontainer{width:100%;max-width:1280px;margin:0 auto;padding:50px 0 80px;position:relative;z-index:40}
.lcontainer{width:100%;margin:0 auto;padding:0;position:relative;z-index:40}






/************************************************
*		MAIN BG									*
************************************************/

.tt_bg{
	width:100%;
	height:100vh;
	background:url(../images/bg_m1.jpg) center center no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:1;
}
.ta_bg{
	width:100%;
	height:100vh;
	background:url(../images/bg_m2.jpg) center center no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:1;
}






/************************************************
*					HEADER						*
************************************************/

/********************* NAV *********************/
.navbar{width:100%;height:80px !important;position:fixed;left:0;top:0;z-index:100;}
.navbar{border-bottom:0 none !important;}
.nav_bg{
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.85;
	filter:alpha(opacity=85);
	-ms-filter:alpha(opacity=85);
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
	-moz-opacity:0.85;
	-khtml-opacity:0.85;
	filter:alpha(opacity=85);
	position:absolute;
	left:0;
	top:0;
	opacity:0.85;
	z-index:0;
}

.navbar-brand{padding:0 !important;}
.navbar-header,
.navbar-brand{height:80px !important;line-height:80px !important;}
.navbar-toggle{padding:9px 6px !important;}

.navbar-default{background-color:transparent !important;}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{color:#fff !important;}
.navbar-default .navbar-nav{margin:0 0 0 30px;position:absolute;right:0;top:0;z-index:100;}
.navbar-default .navbar-nav > li > a {
	height:80px !important;
	padding:0 0 0 15px !important;
	text-align:right;
	font-size:22px;
	font-weight:400;
	color:#fff !important;
	line-height:80px !important;
	letter-spacing:-1px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.on{color:#fff !important;}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{color:#fff !important;}
@media (min-width: 768px) {
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
    	margin-left:0 !important;
	}
}

.navbar-collapse{border-bottom:0 none !important;position:relative;}
.navbar-collapse .navbar-brand img{width:130px;margin:0;position:absolute;left:0;top:0;z-index:100;}
.navbar-collapse  a.logo,
.navbar-collapse  a.logo:hover{font-size:22px;font-weight:500;color:#fff;line-height:50px;}
.navbar-collapse  a.logo .tlo{width:auto;height:33px;margin:23px 0 0;}

.navbar-nav img {margin-right:10px;}
.navbar .container {width:100%;max-width:1280px;height:100%;}

.lxbit img{height:150px;}






/*************************************************
*					CONTAINER					*
*************************************************/
/***************** 01 MAIN ******************/
.mscreen{
	margin:0;
	padding:20vh 0 0;
	text-align:center;
	font-size:60px;
	font-weight:500;
	color:#fff;
	line-height:70px;
	position:relative;
	display:block;
	z-index:100;
}
.mscreen .ms_btn{
	width:200px;
	height:50px;
	margin:30px auto;
	border:2px solid #fff;
	border-radius:4px;
	text-align:center;
	font-size:20px;
	font-weight:400;
	color:#fff;
	line-height:50px;
	display:block;
}






/****************** 02 APP ******************/
.app_wrap{width:100%;margin:0;padding:15vh 0 0;position:relative;}
.app_wrap ul{margin:0;padding:0;position:relative;}
.app_wrap li:first-child{width:33.4%}
.app_wrap li{width:33.3%;margin:0;padding:0;text-align:center;position:relative;float:left;}
.app_wrap b{
	margin:0;
	padding:80px 0 20px;
	text-align:center;
	font-size:30px;
	font-weight:600;
	color:#222;
	line-height:30px;
	display:block;
}
.app_wrap p{
	margin:0;
	padding:20px 0;
	text-align:center;
	display:block;
}
.app_wrap a{margin:0 10px;padding:0;display:inline-block}






/*************** 03 SERVICE *****************/
.ser_wrap{width:100%;max-width:1280px;margin:0 auto;padding:60px 0;position:relative;}
.ser_wrap ul{margin:40px 0 0 -3%;padding:0;position:relative;}
.ser_wrap li:first-child{width:30.4%}
.ser_wrap li{
	width:30.3%;
	min-height:500px;
	margin:0 0 0 3%;
	padding:40px 30px;
	background-color:#555;
	border-radius:20px;
	text-align:center;
	position:relative;
	float:left;
}
.ser_wrap .sw_img{margin:30px 0 40px;text-align:center;position:relative;}
.ser_wrap .sw_img img{width:auot;height:100px;}
.ser_wrap .sw_tit{margin:0 0 20px;font-size:45px;font-weight:500;color:#fff;line-height:55px;letter-spacing:-1px;display:block;}
.ser_wrap .sw_txt{margin:0 0 10px;font-size:24px;font-weight:300;color:#fff;line-height:34px;letter-spacing:-1px;display:block;}
.ser_wrap .sw_ti{margin:0 0 40px;font-size:38px;font-weight:500;color:#fff;line-height:48px;letter-spacing:-1px;display:block;}
.ser_wrap .sw_tx{margin:0;font-size:20px;font-weight:300;color:#fff;line-height:30px;letter-spacing:-1px;display:block;}



.m_wrap{width:100%;margin:0;padding:60px 0 130px;position:relative;}
.m_wrap ul{width:1000px;margin:0 auto;padding:0;position:relative;}
.m_wrap li{
	width:50%;
	margin:0;
	padding:0;
	text-align:center;
	font-size:20px;
	font-weight:300;
	line-height:30px;
	position:relative;
	float:left;
}
.m_wrap li span{margin:0 0 30px;padding:0;text-align:center;display:block;}
.m_wrap li b{margin:0 0 20px;font-size:38px;font-weight:500;color:#c03c3c;line-height:48px;display:block;}






/****************** 04 INFO ********************/
.info_wrap{width:100%;margin:0;padding:80px 0 140px;position:relative;}
.info_wrap .iw_text{width:65%;margin:0;padding:0;position:relative;float:left;}
.info_wrap .iw_text b{margin:0 0 20px;font-size:28px;font-weight:500;color:#222;line-height:38px; display:inline-block;}
.info_wrap .iw_text span{font-size:18px;font-weight:300;color:#666;}
.info_wrap .iw_text p{font-size:20px;font-weight:400;line-height:28px;}
.info_wrap .iw_text img{width:auto;height:25px;}
.info_wrap .iw_btn{width:35%;margin:0;padding:20px 0 0;position:relative;float:left;}
.info_wrap .iw_btn .lbtn{
	height:60px;
	margin:0;
	padding:0;
	border-radius:10px;
	border:2px solid #c03c3c;
	background-color:#c03c3c;
	text-align:center;
	font-size:20px;
	font-weight:500;
	color:#fff;
	line-height:60px;
	display:block
}
.info_wrap .iw_btn .lbtn:hover{color:#fff !important;}
.info_wrap .iw_btn .sbtn{margin:0 0 0 -3%;padding:0;position:relative;}
.info_wrap .iw_btn .sbtn li{width:47%;height:50px;margin:0 0 0 3%;padding:0;position:relative;float:left;}
.info_wrap .iw_btn .sbtn li a{
	width:100%;
	height:60px;
	border-radius:10px;
	border:2px solid #c03c3c;
	background-color:#c03c3c;
	text-align:center;
	font-size:20px;
	font-weight:500;
	color:#fff;
	line-height:60px;
	display:block;
}
.info_wrap .iw_btn .sbtn li a:hover{color:#fff !important;}






/************************************************
*		SLIDER									*
************************************************/

.flex-container a:hover,
.flex-slider a:hover {
	outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-direction-nav{display:none;}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* --------------------------------------------
 * BASE STYLES
 * --------------------------------------------*/
.flexslider {
	margin: 0;
	padding: 0;
	background-color:#f74f4c !important;
}
.flexslider .slides > li {
	-webkit-backface-visibility:hidden;
	display:none;
	overflow:hidden;
}
.flexslider .slides img {
	width:100%;
	display:block;
}
.flexslider .slides:after {
	height:0;
	line-height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
html[xmlns] .flexslider .slides {
	display:block;
}
* html .flexslider .slides {
	height:1%;
}
.no-js .flexslider .slides > li:first-child {
	display:block;
}

.flexslider {
	margin:0;
	background:#fff;
	position:relative;
	zoom:1;
	-webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
	zoom:1;
}
.flexslider .slides img {
	height:auto;
	-moz-user-select:none;
}
.flex-viewport {
	max-height:2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height:300px;
}
.carousel li {
	margin-right:5px;
}
.flex-direction-nav {
	*height:0;
}
.flex-direction-nav a {
	width:60px;
	height:60px;
	margin:-20px 0 0;
	text-decoration:none;
	font-size:0 !important;
	color:rgba(0, 0, 0, 0.8);
	position:absolute;
	top:50%;
	z-index:10;
	display:block;
	overflow:hidden;
	opacity:1;
	cursor:pointer;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev {
	background:url(../images/icon/arrow_prev.png) no-repeat;
	left:40px;
	top:45%;
}
.flex-direction-nav .flex-next {
	background:url(../images/icon/arrow_next.png) no-repeat;
	text-align: right;
	right:40px;
	top:45%;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 1;
	left: 40px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
	opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 1;
	right: 40px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: 1;
	filter: alpha(opacity=100);
	cursor: default;
	z-index: -1;
}
.flex-control-nav {
	width: 100%;
	max-width:1280px;
	margin:0 auto;
	padding:0 0 0 200px;
	text-align: left;
	position:relative;
	top: 550px;
	z-index:100;
}
.flex-control-nav li {
	margin:0 6px;
	display:inline-block;
	zoom:1;
	*display:inline;
}
.flex-control-paging li a {
	width: 12px;
	height: 12px;
	background: #bababa;
	background: rgba(186, 186, 186, 1);
	cursor: pointer;
	text-indent: -9999px;
	/*
	-webkit-box-shadow: inset 0 0 3px rgba(186, 186, 186, 1);
	-moz-box-shadow: inset 0 0 3px rgba(186, 186, 186, 1);
	-o-box-shadow: inset 0 0 3px rgba(186, 186, 186, 1);
	box-shadow: inset 0 0 3px rgba(186, 186, 186, 1);
	*/
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	display:block;
}
.flex-control-paging li a:hover {
	background: #f74f4e;
	background: rgba(248, 79, 76, 1);
}
.flex-control-paging li a.flex-active {
	background: #f74f4e;
	background: rgba(248, 79, 76, 1);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: 40px;
		top:35%;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: 40px;
		top:35%;
	}
}






/************************************************
*					SUB							*
************************************************/

/******************** GUIDE ********************/
.date_wrap{margin:0 0 30px;padding:0;position:relative;}
.date_mobile{display:none;}

.date_wrap{width:100%;margin:0;padding:0;position:relative;}
ul.tabs{
	width:100%;
	height:80px;
	margin:0 0 30px;
	padding:0;
	list-style:none;
	position:relative;
	top:0px;
}
ul.tabs li{
	width:25%;
	height:80px;
	margin:0;
	padding:0;
	background:#e1e1e1;
	border-left:none;
	text-align:center;
	line-height:80px;
	overflow:hidden;
	position:relative;
	float:left;
}
ul.tabs li a{
	width:100%;
	height:100%;
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
	outline:none;
	text-decoration:none;
	font-size:20px;
	font-weight:400;
	color:#999;
	line-height:80px;
	display:block;
}
ul.tabs li a:hover{
	background-color:#f74f4c;
	color:#fff !important;
}
html ul.tabs li.active,
html ul.tabs li.active a:hover,
html ul.tabs li.active a{
	background-color:#f74f4c;
	color:#fff !important;
}
.tab_container{
	width:100%;
	height:600px;
	margin:0 0 150px;
	padding:70px 50px 40px;
	background:#fff;
	position:relative;
	display:block;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:scroll;
}


 


 
/************************************************
*					FOOT						*
************************************************/

.footer{width:100%;margin:0;background-color:#222;position:relative;left:0;bottom:0;}
.footer .copyright{
	width:100%;
	max-width:1280px;
	margin:0 auto;
	padding:45px 0;
	text-align:left;
	font-size:13px;
	font-weight:300;
	color:#bebebe;
	line-height:23px;
	letter-spacing:1px;
	position:relative;
}
.footer .copyright a{font-weight:500;color:#bebebe;}

.footer .copyright .f_logo{margin:0 0 15px;padding:0;position:relative;}
.footer .copyright .f_logo img{width:auto;height:40px;display:block;}

.footer .copyright .fw_top{width:70px;height:70px;position:absolute;right:0;top:110px;z-index:100;}
.footer .copyright .fw_top a{width:100%;height:70px;display:block;}
.footer .copyright .fw_top a img{width:100%;}






/************************************************
*					POPUP						*
************************************************/

/*************** BOOTSTRAP POP ******************/
.modal{top:15px !important;z-index:1000;}
.modal.in .modal-dialog{max-width:320px;}
.modal-dialog{max-width:320px;margin:0 auto !important;}

.modal-header{font-size:16px;color:#000;}
.modal-header .close{font-size:35px;font-weight:300;color:#000;float:right;}

.modal-content{border-radius:0 !important;}

.modal-body{padding:25px 10px !important;font-size:14px;color:#222;}
.modal-body b{margin:0 0 15px;font-size:16px;font-weight:600;color:#222;display:block;}

.modal-footer{padding:0 !important;}
.modal-footer .btn:first-child{border-left:0 none;}
.modal-footer .btn{
	height:50px;
	margin:0 !important;
	padding:0;
	background-color:#e6e6e6;
	border-left:1px solid #cecece;
	border-radius:0;
	font-size:15px;
	line-height:50px;
	float:left;
}
.modal-footer .btn-primary{background-color:#d12e31;border-color:#d12e31;}






/************************************************
*				동의 : Agreement				*
************************************************/

.agr_wrap{width:100%;margin:0 auto;padding:0;position:relative;}
.pscroll{height:700px;background-color:#fff;overflow:hidden;overflow-x:hidden;overflow-y:scroll;}

.stb_xbti{margin:0 0 30px;text-align:left;font-size:24px !important;font-weight:700;color:#333;line-height:35px;display:block;}
.stb_xti{margin-bottom:10px;text-align:left;font-size:18px !important;font-weight:600;color:#666;line-height:25px;display:block;}
.stb_bti{margin-bottom:10px;text-align:left;font-size:16px !important;font-weight:500;color:#666;line-height:26px;display:block;}
.stb_ti{margin-bottom:15px;text-align:left;font-size:14px !important;font-weight:400;color:#999;line-height:20px;display:block;}
.stb_copy{margin-bottom:30px;text-align:left;font-size:13px !important;font-weight:300;color:#999;line-height:20px;display:block;}






/************************************************
*					ETC							*
************************************************/

.xbltit{margin:0;padding:100px 0 20px;text-align:left;font-size:40px;font-weight:400;color:#31313;line-height:50px;position:relative;display:block;z-index:100;}
.xbltit span{height:50px;position:absolute;right:0;top:0;}

.xltit{margin:0;text-align:left;font-size:40px;font-weight:700;color:#313131;line-height:50px;display:block;}

.xbctit{margin:0;padding:25px 0 20px;text-align:center;font-size:40px;font-weight:500;color:#111;line-height:42px;position:relative;display:block;z-index:100;}
.xbctit span{height:45px;position:absolute;right:0;top:0;}

.cxbit{margin:0 0 10px;text-align:center;font-size:40px;font-weight:500;color:#111;line-height:50px;display:block;}

.cxit{margin:0 0 15px;text-align:center;font-size:32px;font-weight:300;color:#111;line-height:42px;display:block;}
.cxit b{font-weight:500;}
.cbxt{margin:0 0 15px;padding:0;text-align:center;font-size:26px;font-weight:300;color:#111;line-height:26px;display:block;}
.ctxt{margin:0 0 15px;padding:0;text-align:center;font-size:18px;font-weight:300;color:#3e3e3e;line-height:28px;display:block;}

.lc_btit{margin:20px 0;text-align:center;font-size:32px;font-weight:600;color:#111;display:block;}

.lbit{margin:0 0 10px;text-align:left;font-size:26px;font-weight:300;color:#111;line-height:36px;display:block;}

.lxit{margin:0 0 25px;text-align:left;font-size:26px;font-weight:500;color:#111;line-height:36px;display:block;}
.lbtit{margin:0 0 5px;padding:0;text-align:left;font-size:26px;font-weight:300;color:#3e3e3e;line-height:36px;display:block;}
.lbtit b{margin:0 5px 0 0;font-weight:500;}
.lbtit span{font-size:18px;}
.ltxt{margin:0 0 15px;padding:0;text-align:left;font-size:16px;font-weight:300;color:#3e3e3e;line-height:26px;display:block;}


.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}


.fl_l{float:left !important;}
.fl_r{float:right !important;}


.only_pc{display:block !important;}
.only_mobile{display:none !important;}






/************************************************
*		POPUP									*
************************************************/

.modal{top:80px !important;}
.modal-header{font-size:20px;}
.modal-header .close{font-size:30px;float:right !important;}

.mw_popup1, .mw_popup2, .mw_popup3, .mw_popup4{width:100%;max-width:320px;height:100%;display:none;position:fixed;_position:absolute;top:0;left:0;z-index:100000;}
.mw_popup1.open, .mw_popup2.open, .mw_popup3.open, .mw_popup4.open{display:block}
.mw_popup1 .bg, .mw_popup2 .bg, .mw_popup3 .bg, .mw_popup4 .bg{width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);position:absolute;top:0;left:0;}
#popup1, #popup2, #popup3, #popup4{width:320px;margin:0;background:#fff;position:absolute;top:40%;left:50%;right:50%;}
#popup1.g_popup1 .g_popup1, #popup2.g_popup2 .g_popup2, #popup3.g_popup3 .g_popup3, #popup4.g_popup4 .g_popup4{display:block}
#popup1 .close, #popup2 .close, #popup3 .close, #popup4 .close{
	width:17px;
	height:17px;
	padding:0;
	border:0;
	background:transparent;
	text-decoration:none !important;
	cursor:pointer;
	opacity:1;
	overflow:visible;
	position:absolute;
	top:-2px;
	right:13px;
}

.pop_header{height:50px;padding:0 10px;background:#f9f9f9;border-bottom:1px solid #ddd;text-align:center;font-size:22px;font-weight:500;color:#5a5a5a;line-height:50px;}
.pop_header img{width:10px;height:10px;}

.pscroll{height:380px;overflow:hidden;overflow-x:hidden;overflow-y:scroll;}
.stb_copy{padding:25px 15px;font-size:18px;font-weight:34px !important;}

.btn-primary{height:50px;font-size:20px !important;line-height:50px}






/************************************************
*					TABLE						*
************************************************/

.table_type1{width:100%;margin:0 0 15px;border-top:2px solid #555;font-size:14px;}
.table_type1 caption{display:none}
.table_type1 thead th,
.table_type1 thead td{padding:10px;background-color:#fff;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:15px;font-weight:600;color:#333;line-height:20px;}
.table_type1 tbody th,
.table_type1 tbody td{padding:13px 10px;background-color:#fff;border-left:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:14px;font-weight:500;color:#777;line-height:20px;}
.table_type1 th:first-child,
.table_type1 td:first-child{border-left:0 none !important;}
.table_type1 img{vertical-align:middle;}
.table_type1 .it_case{margin:0;padding:0;position:relative;}
.table_type1 .it_case li.w3:first-child{width:34%;}
.table_type1 .it_case li.w3{width:33%;}
.table_type1 .it_case li{text-align:center;display:block;float:left;}
.table_type1 .it_btit{font-size:20px;font-weight:500;}
.table_type1 .it_tit{font-size:18px;font-weight:500;}
.table_type1 .it_btxt{font-size:16px;font-weight:500;color:#555;line-height:normal;}
.table_type1 .it_txt{font-size:16px;font-weight:400;color:#888;line-height:normal;}


.table_type2{width:100%;margin:0 0 20px;font-size:14px;}
.table_type2 caption{display:none}
.table_type2 thead th,
.table_type2 thead td,
.table_type2 tbody th,
.table_type2 tbody td{
	padding:13px 10px;
	border-bottom:1px solid #e4e4e4;
	line-height:24px;
}

.table_type2 thead th{
	background-color:#f9f9f9;
	border-top:2px solid #555;
	font-size:15px;
	font-weight:600;
	color:#333;
}
.table_type2 thead td{
	background-color:#f9f9f9;
	border-top:2px solid #555;
	font-size:14px;
	font-weight:600;
	color:#777;
}
.table_type2 tbody th{
	background-color:#f9f9f9;
	font-size:14px;
	font-weight:500;
	color:#333;
}
.table_type2 tbody td{
	background-color:#fff;
	font-size:14px;
	font-weight:500;
	color:#777;
}
.table_type2 .tt_text{height:450px;}
.table_type2 img{width:auto;height:20px;vertical-align:middle;}
.table_type2 .tw10p{width:10%;}
.table_type2 .tw15p{width:15%;}
.table_type2 .tw75p{width:75%;}






/************************************************
*		SCREEN									*
************************************************/

.swiper-container1,
.swiper-container2 {
	width:100%;
	margin: 0;
	position: relative;
	overflow: hidden;
	/* Fix of Webkit flickering */
	z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-transform: translate3d(0px, 0, 0);
	-moz-transform: translate3d(0px, 0, 0);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-slide {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	position: relative;
}


/* Pagination Styles */
.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
	width: 30px;
	height: 60px;
	position: absolute;
	top: 45%;
	z-index:1000;
	cursor: pointer;
	-moz-background-size: 30px 60px;
	-webkit-background-size: 30px 60px;
	background-size: 30px 60px;
	background-position: center;
	background-repeat: no-repeat;
	display:block;
}
.swiper-button-prev.swiper-button-disabled {
	background:url(../images/icon/prev_icon2.png) no-repeat;
	opacity: 0.5;
	cursor: auto;
}
.swiper-button-next.swiper-button-disabled {
	background:url(../images/icon/next_icon2.png) no-repeat;
	opacity: 0.5;
	cursor: auto;
}
.swiper-select{opacity:1 !important;cursor:pointer !important;}
.swiper-button-prev {
	/*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");*/
	background:url(../images/icon/prev_icon1.png) no-repeat;
	left:0;
	right:auto;
	z-index:100000;
}
.swiper-button-next {
	/*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");*/
	background:url(../images/icon/next_icon1.png) no-repeat;
	right:0;
	left:auto;
	z-index:100000;
}
.swiper-button-prev.white-btn {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.white-btn {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.black-btn {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.black-btn {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

@-webkit-keyframes swiper-preloader-spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	8.33333333% {
		-webkit-transform: rotate(30deg);
	}
	16.66666667% {
		-webkit-transform: rotate(60deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	33.33333333% {
		-webkit-transform: rotate(120deg);
	}
	41.66666667% {
		-webkit-transform: rotate(150deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	58.33333333% {
		-webkit-transform: rotate(210deg);
	}
	66.66666667% {
		-webkit-transform: rotate(240deg);
	}
	75% {
		-webkit-transform: rotate(270deg);
	}
	83.33333333% {
		-webkit-transform: rotate(300deg);
	}
	91.66666667% {
		-webkit-transform: rotate(330deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes swiper-preloader-spin {
	0% {
		transform: rotate(0deg);
	}
	8.33333333% {
		transform: rotate(30deg);
	}
	16.66666667% {
		transform: rotate(60deg);
	}
	25% {
		transform: rotate(90deg);
	}
	33.33333333% {
		transform: rotate(120deg);
	}
	41.66666667% {
		transform: rotate(150deg);

	}
	50% {
		transform: rotate(180deg);
	}
	58.33333333% {
		transform: rotate(210deg);
	}
	66.66666667% {
		transform: rotate(240deg);
	}
	75% {
		transform: rotate(270deg);
	}
	83.33333333% {
		transform: rotate(300deg);
	}
	91.66666667% {
		transform: rotate(330deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


html, body {
	height: 100%;
	position: relative;;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	width: 100%;
	height:100%;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	z-index:1;
}






/************************************************
*				RESPONSIVE						*
************************************************/

@media all and (max-width:1280px){
}

@media all and (max-width:1279px){
		.flex-control-nav{
			max-width:100%;
			padding:0;
			text-align:center;
			position:relative;
			top:310px;
			z-index: 100;
		}
		.flex-control-paging li a{border:1px solid #ccc;}
}

@media all and (max-width:1024px){
	.only_pc{display:none !important;}
	.only_mobile{display:block !important;}
}

@media all and (max-width:980px){
}

@media all and (max-width:768px){
	.only_pc{display:none !important;}
	.only_mobile{display:block !important;}



	.scontainer{max-width:100%;padding:0 !important;}
	.hcontainer{padding:80px 20px 125px;}



	.navbar{height:51px !important;}
	.navbar-brand{padding:0 15px !important;}
	.navbar-brand img {width:130px;margin:10px 5px 0 0;float:left;}
	.navbar-header,
	.navbar-brand{height:50px !important;line-height:50px !important;position:relative !important;}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand{margin-left:0 !important;}
	.container>.navbar-collapse,
	.container>.navbar-header{margin:0 !important;padding:0 !important;}
	.navbar-header a.logo,
	.navbar-header a.logo:hover{font-size:22px;font-weight:500;color:#fff;line-height:50px;}
	.navbar-header a.logo .tlo{width:auto;height:20px;margin:16px 0 0;position:absolute;left:10px;top:0;z-index:100;}
	.navbar-toggle{position:absolute;right:0;top:0;z-index:100;}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{width:100% !important;}
	.navbar-nav{position:absolute;right:10px;top:0;z-index:100;}
	.navbar-default .navbar-nav{margin:0 !important;}
	.navbar-default .navbar-nav > li{padding-right:10px;float:left;}
	.navbar-default .navbar-nav > li > a {
		height:50px !important;
		padding-left:7px !important;
		font-size:13px;
		line-height:50px !important;
		letter-spacing:-1px;
	}
	.navbar-collapse{background-color:#202020;}
	.navbar .container{height:100%;padding:0 !important;}
	.lxbit img{height:80px;}


	.ta_bg{height:auto;}


	.mscreen{
		font-size:50px;
	}


	.app_wrap{padding:60px 0 20px;}
	.app_wrap li:first-child{width:100%}
	.app_wrap li{width:100%;margin:0 0 30px;float:none;}
	.app_wrap b{
		padding:20px 0;
	}
	.app_wrap a{margin:0 0 15px;}
	.app_wrap .aw_img{width:auto;height:570px;}



	.ser_wrap{width:100%;padding:60px 20px 0;}
	.ser_wrap ul{margin:40px 0 0 0;padding:0;position:relative;}
	.ser_wrap li:first-child{width:100%}
	.ser_wrap li{
		width:100%;
		min-height:auto;
		margin:0 0 20px;
		padding:40px 30px;
		float:none;
	}



	.ser_wrap ul{margin:60px 0;}
	.ser_wrap li:first-child{width:100%}
	.ser_wrap li{
		width:100%;
		min-height:auto;
		margin:0 0 20px;
		padding:20px 20px 30px;
		float:none;
	}
	.ser_wrap .sw_tit{font-size:40px;line-height:50px;}
	.ser_wrap .sw_txt{margin:0;font-size:20px;line-height:30px;}
	.ser_wrap .sw_ti{margin:0 0 20px;font-size:32px;line-height:42px;}
	.ser_wrap .sw_tx{font-size:16px;line-height:26px;}



	.m_wrap{padding:40px 0 60px;}
	.m_wrap ul{width:100%;margin:0;}
	.m_wrap li{width:100%;font-size:18px;line-height:26px;float:none;}
	.m_wrap li img{width:auto;height:430px;}
	.m_wrap li b{margin:0 0 15px;font-size:30px;line-height:40px;}



	.info_wrap{padding:80px 15px 70px;}
	.info_wrap .iw_text{width:100%;float:none;}
	.info_wrap .iw_text b{margin:0;display:block;}
	.info_wrap .iw_text span{margin:0 0 10px;display:block;}
	.info_wrap .iw_btn{width:100%;padding:20px 0 0;float:none;}
	.info_wrap .iw_btn .sbtn{margin:0;}
	.info_wrap .iw_btn .sbtn li{width:100%;height:60px;margin:0 0 20px;float:none;}



	.xbltit{padding:0 15px 20px;font-size:30px;font-weight:500;line-height:40px;}

	ul.tabs{
		width:100%;
		height:80px;
		margin:0 0 15px;
		list-style:none;
		position:relative;
		top:0px;
	}
	ul.tabs li{
		width:50%;
		height:40px;
		margin:0 0 1px;
		line-height:40px;
	}
	ul.tabs li a{
		font-size:16px;
		line-height:40px;
	}
	.tab_container{
		height:400px;
		margin:0 0 110px;
		padding:40px 20px 10px;
	}




	.footer{height:auto;padding:40px 0 50px;}
	.footer .copyright{
		max-width:100%;
		padding:20px 10px;
		font-size:12px;
		line-height:18px;
	}
	.footer .copyright .fw_top{right:15px;top:0;}
	.footer .copyright .fw_top a img{width:100%;}


	.swiper-button-prev, .swiper-button-next {
		top:35%;
	}

	.modal-dialog{max-width:320px;margin:0 auto !important;}
}

@media all and (max-width:767px){

}

@media all and (max-width:480px){
}

@media all and (max-width:419px){
	
}


